@font-face {
    font-family: "confetti";
    src: url("./fonts/Hoodson\ free\ font\ .ttf");
}

body {
    background-image: linear-gradient(to right, #09C6F9, #045DE9);
    font-family: confetti;
}

#jumbotron {
    background-image: linear-gradient(to right, #8693AB, #BDD4E7);
    position: relative;

    width: 100vw;
    height: 40vh;
}

#myName {
    position: absolute;
    -webkit-filter: drop-shadow(3px 3px 3px #222);
    filter: drop-shadow(3px 3px 3px #222);
    /* box-sizing: border-box; */
    /* text-align: center; */
    top: 10%;
    left: 37vw;
    /* left: 42%; */
    /* margin-top: -0.8em; */
}

/* #seeProjects {
    font-size: 2rem;
    text-transform: uppercase;
    border-radius: 50rem;
} */

#aboutMe {
    position: absolute;
    background-color: white;
    opacity: 0.95;
    border: 5px solid black;
    -webkit-filter: drop-shadow(5px 5px 2px #222);
    filter: drop-shadow(8px 8px 5px #222);
    /* box-shadow: 5px 10px; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    width: 90vw;
    left: 5vw;
    margin-bottom: 3rem;
}

#aboutMeContent {
    margin: 1.5rem;
    text-align: justify;
}

#goals {
    background-image: linear-gradient(to right, #2121dd, #0d0da0);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.2rem;
    -webkit-background-clip: text;
    color: transparent;
    text-transform: uppercase;
    text-align: center;
}

#background {
    text-decoration: underline;
}

#summary {
    text-decoration: underline;
}

#brandStatement {
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-size: 1.5rem;
}